* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

.header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* HERO SECTION */
.hero {
  min-height: 85vh;
  background-image: url("Home Page 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* TEXT */
.hero-small {
  font-size: 22px;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 72px;
  font-weight: 800;
}

.hero-title span {
  color: #6a4dfd; /* Rahul color */
}

.hero-sub {
  margin-top: 14px;
  font-size: 18px;
  color: #555;
}
